@media (min-width: 0px) and (max-width: 767px) {
  .navbar-toggler{
    padding-right: 0px !important;
  }
  .container-fluidLarge {
    padding: 0 1rem;
  }
  .btn--medium{
    display: flex;
    justify-content: center;
  }
  .main-brand{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navbar{
    padding: 0 0.7rem;
  }
  .main-banner .mask{
    width: 100%;
  }
  .main-banner .mask .main-banner__text{
    padding-left: 1rem;
  }
  .container-fluid {
    padding: 0 1rem;
  }
  .main-oneform__content{
    grid-template-columns: 1fr;
    padding: 0rem 1rem 2rem 1rem;
  }
  .main-oneform__item form, .main-details__content,.main-details__item:nth-child(2),.main-about__content,.main-zone__content{
    grid-template-columns: 1fr;
  }
  .main-details__item:nth-child(2){
    margin-top: 1rem;
  }
  .main-details__box{
    margin-bottom: 1rem;
  }
  .main-about__img img, .main-zone__img img, .main-slidernav__img img{
    width: 100%;
  }
  .main-gallery__img{
    padding-right: 0;
  }
  .main-about__item:nth-child(2){
    padding: 2rem 1rem 3rem 1rem;
  }
  .main-slidernav__content, .main-footer__content{
    grid-template-columns: 1fr;
  }
  .slider.slider-nav .slick-prev, .slider.slider-nav .slick-next{
    top: 8rem;
  }
  .slider.slider-nav .slick-next {
    right: -1rem;
  }
  .main-twoform__content{
    grid-template-columns: 1fr;
  }
  .main-twoform__img {
    height: auto;
  }
  .main-footer__description{
    width: 100%;
  }
  .main-twoform,.main-location, .main-zone, .main-details {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .main-zone.urbanismo .main-description__general {
    width: 100%;
    margin-top: 0;
  }
  .section-detalle {
    padding: 40px 0;
  }
  .bg-title-planos{
    margin-top: -3rem;
  }
  .main-zone.urbanismo {
    padding-top: 40px;
  }
  .main-maps{
    padding-bottom: 30px;
  }
  .main-about{
    padding-bottom: 20px;
  }
  .main-gallery {
    padding-top: 25px;
  }
  .slider-for .slick-dots li:nth-child(1):after, .slider-for .slick-dots li:nth-child(2):after, .slider-for .slick-dots li:nth-child(3):after, .slider-for .slick-dots li:nth-child(4):after{
    font-size: 15px;
  }
  .slider-for .slick-dots li.slick-active:nth-child(1):after, .slider-for .slick-dots li.slick-active:nth-child(2):after, .slider-for .slick-dots li.slick-active:nth-child(3):after, .slider-for .slick-dots li.slick-active:nth-child(4):after{
    font-size: 15px;
  }
  .nav-item:last-child {
    padding: 0 12px;
  }
  .main-gallery__content .slick-prev, .main-gallery__content .slick-next {
    top: 18rem !important;
  }
  .nav-item{
    padding-left: 1rem;
  }
  .nav-item:last-child {
    padding: 0 1rem;
  } 
  #myModal .close, #myModal1 .close{
    top: 10rem;
    right: 1rem;
  }
  .prev, .next{
    top:30rem;
  }
  .prev {
    left: 5rem;
  }
  .next {
    right: 5rem;
  }
  .btn--large{
    display: flex;
    justify-content: center;
  }
  .main-banner__dates{
    width: 100%;
  }
  .main-banner .mask .main-banner__text{
    padding-top: 2rem;
  }
  .main-oneform__item:nth-child(1){
    padding-left: 0;
    padding-top: 2rem;
  }
  .main-oneform__content{
    grid-gap: 2rem;
  }
  .main-oneform__item form{
    grid-gap: 0;
  }
  .main-about__img img{
    width: 100%;
    height: 100%;
  }
  .main-title__general p{
    font-size: 30px;
  }
  .main-zone__img {
    padding-top: 0rem;
    height: auto;
  }
  .main{
    margin-top: -3rem;
  }
  .main-zone.urbanismo .main-zone__content{
    grid-gap: 0;
  }
  .main-twoform__item:nth-child(2){
    padding-left: 1rem;
  }
  .main-twoform__item form {
    width: 95%;
  }
  .main-about__item:nth-child(1) {
    padding-top: 0rem;
  }

  .mask__img__nerby{
    width: 75%;
    left: -0.5rem;
    bottom: -6.5rem;
  }
  .mask__img__zone {
    position: absolute;
    width: 70%;
    height: 8rem;
    bottom: -2rem;
    right: 1rem;
    z-index: -2;
    object-fit: contain;
  }
  .main-zone__item:nth-child(2) {
    padding: 0 3rem 0 0rem;
    position: relative;
  }
  .main-slidernav__img {
    height: 200px;
  }
  .main-zone.urbanismo .main-zone__item:nth-child(2) {
    padding: 0rem 0rem 0 0rem;
    order: -1;
  }

  footer {    
    padding-top: 2rem;
  }
  .main-gallerytwo__content{
    display: inherit;
  }
  .main-gallery__content{
    display: none;
  }
  .main-gallery__item{
    grid-template-columns: 1fr !important;
  }
  .main-gallery__img{
    height: 270px;
  }
  .main-gallery__img:after{
    width: 100%;
  }
  .main-gallerytwo__content .slick-prev, .main-gallerytwo__content .slick-next{
    top: 19rem !important;
  }
  .main-gallerytwo__content .slick-next{
    left: 3rem !important;
  }
  .main-gallery__img:before, .main-slidernav__img:after{
    opacity: 1;
  }
  ._form-content--grid{
    grid-template-columns: 1fr !important;
    grid-gap: 0;
  }
  .main-contact__btnbox button{
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-toggler{
    padding-right: 0px !important;
  }
  .nav-item:last-child, .nav-item{
    padding-left: 1rem;
  }
  .container-fluidLarge {
    padding: 0 3rem;
  }
  .main-brand{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navbar{
    padding: 0 2rem;
  }
  .main-banner .mask{
    width: 60%;
  }
  .main-banner .mask .main-banner__text{
    padding-left: 3rem;
  }
  .container-fluid {
    padding: 0 3rem;
  }
  .main-oneform__item form{
    grid-template-columns: 1fr 1fr;
    padding: 0rem 3rem 2rem 2rem;
  }
  .main-oneform__title {
    font-size: 22px;
  }
  .main-oneform__item:nth-child(1){
    align-items: flex-start;
  }
  .main-oneform__content{
    grid-template-columns: 25% 76%;
    padding: 2rem 0rem 2rem 0rem;
  }
  .main-details__content{
    grid-template-columns: 1fr;
  }
  .main-details__item:nth-child(2){
    grid-template-columns: 1fr 1fr;
  }
  .main-about__content{
    grid-template-columns: 1fr;
  }
  .main-about__img img{
    width: 100%;
  }
  .main-about__item:nth-child(2){
    padding: 2rem 3rem 2rem 3rem;
  }
  .main-zone__img img{
    width: 100%;
  }
  .main-zone{
    padding: 50px 0;
  }
  .main-slidernav__img img{
    width: 100%;
  }
  .slider.slider-nav .slick-next {
    right: -1.5rem;
  }
  .slider.slider-nav .slick-prev,.slider.slider-nav .slick-next{
    top:9rem;
  }
  .main-twoform__content {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .main-footer__content {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-gap: 0rem;
  }
  ul.menu li a, dd a{
    font-size: 14px;
  }
  .btn--medium{
    font-size: 13px;
  }
  .main-footer__img img{
    width: 65%;
  }
  .main-twoform__item:nth-child(2){
    padding-left: 2rem;
    padding-top: 2rem;
  }
  .main-twoform__item form{
    width: 88%;
  }
  .btn--large{
    font-size: 13px;
  }
  .main-twoform__img {
    height: 300px;
  }
  .main-twoform__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main-footer__item dt{
    font-size: 14px;
  }
  .main-zone__list .main-zone__description p{
    font-size: 14px;
  }
  .slider-for .slick-dots li.slick-active:nth-child(1):after, .slider-for .slick-dots li.slick-active:nth-child(2):after, .slider-for .slick-dots li.slick-active:nth-child(3):after, .slider-for .slick-dots li.slick-active:nth-child(4):after{
    font-size: 15px;
  }
  .slider-for .slick-dots li:nth-child(1):after, .slider-for .slick-dots li:nth-child(2):after, .slider-for .slick-dots li:nth-child(3):after, .slider-for .slick-dots li:nth-child(4):after{
    font-size: 15px;
  }
  
  .main-about{
    padding-bottom: 50px;
  }
  .main-details{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .slider.slider-nav .slick-dots {
    bottom: 30rem;
    left: 0rem;
  }
  .main-gallery__content .slick-prev, .main-gallery__content .slick-next {
    top: 37rem !important;
  }
  #myModal .close, #myModal1 .close{
    top: 5rem;
    right: 3rem;
  }
  .prev, .next{
    top:19rem;
  }
  .main-location {
    padding-bottom: 0;
  }
  .main-title__general p{
    font-size: 35px;
  }
  .main-slidernav__content{
    grid-template-columns: 1fr;
  }
  .slider.slider-nav .slick-prev, .slider.slider-nav .slick-next{
    top: 14rem;
  }
  .main-maps{
    padding-bottom: 40px;
  }
  .main-gallery__img{
    height: 270px;
  }
  .mask__img__nerby {
    bottom: -1rem;
    left: -3rem;
  }
  .mask__img__zone {
    bottom: -3rem;
    right: 0rem;
    object-fit: contain;
  }
  .main-zone__item:nth-child(2) {
    padding: 0 2rem 0 0rem;
    position: relative;
  }
  .main-maps img.mask__maps{
    object-fit: cover;
    height: 20rem;
  }
  .main-banner .mask .main-banner__text{
    padding-top: 2rem;
  }
  .main-banner__dates{
    width: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-fluid {
    padding: 0 2rem;
  }
  .slider.slider-nav .slick-next {
    right: 22.5rem;
  }
  .slider.slider-nav .slick-prev,.slider.slider-nav .slick-next{
    top: 12rem;
  }
  .slider.slider-nav .slick-dots {
    bottom: -3rem;
    left: -11rem;
  }
  .main-gallery__content .slick-prev, .main-gallery__content .slick-next {
    top: 36rem !important;
  }
  .main-details__content{
    grid-template-columns: 1fr;
  }
  .main-banner .mask{
    width: 50%;
  }
  .container-fluidLarge {
    padding: 0 2rem;
  }
  .next {
    right: 3rem;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    left: 3rem;
  }
  #myModal .close, #myModal1 .close{
    top: 2rem;
    right: 3rem;
  }
  .main-banner .mask .main-banner__text{
    padding-left: 2rem;
    padding-top: 3rem;
  }
  .main-banner__dates{
    width: 90%;
  }
  .main-about__item:nth-child(2){
    padding: 0 0rem 0 6rem;
  }
  .main-location {
    padding-bottom: 0;
  }
  .nav-link{
    letter-spacing: 1px;
  }
  .main-footer__content{
    grid-gap: 0;
  }
  .main-gallery__img{
    height: 270px;
  }
}

/* @media (min-width: 1200px){
  .container {
    max-width: 1300px;
  }
} */